*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex:1;
}
.navbar{
    height: 5rem;
    background-color: white;
    
}



.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    font-size: 1.2rem;
    margin-right: 1rem;
    color:#222222 !important;
}

.nav-link:hover{
    text-decoration: underline;
    color: #fe424d !important;
    
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin: 0 1rem;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #fe424d;
}

.f-info-links,.f-info-socials,.f-info-copy{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.f-info-socials i{
 margin-right: 1.2rem;
 font-size: 1.2rem
    
}

.f-info-socials i:hover{
    color: #fe424d;
    cursor: pointer;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}


.card{
    border: none !important;
    margin-bottom: 2rem;
  
}

.card-img-top{
    border-radius: 1rem !important;
    /* height: 200px; */
    object-fit:cover !important;
}

.card-img-top:hover{
    opacity: 0.8;
}

.card-body{
    padding: 0 .5rem 0 !important;
}

.card-text{

    font-weight: 400   !important;
}


.listing-link{
    text-decoration: none;
    color: #222222;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}


.add-btn:hover,.edit-btn:hover{
    
    opacity: 0.8;
    
}

.show-img{
    height: 30vh;

}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
